<h1>List of Employees</h1>

<div>
    <table class="table table-hover">

        <thead>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            @for (employee of employees; track employees) {
                <tr>
                    <td>{{ employee.id}}</td>
                    <td>{{ employee.firstName | titlecase }}</td>
                    <td>{{ employee.lastName | titlecase }}</td>
                    <td>{{ employee.emailId }}</td>
                </tr>
            }
        </tbody>

    </table>
</div>