<div class="page">
    
    <div class="page-title">
        <h1>{{ title | titlecase}}</h1>
    </div>

    <div class="row">

        <div class="inventory col-5">

            <h3>Items for Sale</h3>

            @for (fruit of inventory; let idx = $index; track fruit) {
                <app-inventory [fruit]="fruit" (onChange)="changeQty($event)"></app-inventory>
            }
        </div>


        <div class="cart col">
            
            <h3>Cart</h3>

            @for (cartItem of cart; let idx = $index; track cartItem) {
                <app-cart [cartItem]="cartItem"></app-cart>
            }
        </div>

    </div>

</div>