<div class="container">

    <h1>ViewChild demo in Angular</h1>

    <div class="spacer"></div>
    <button mat-stroked-button (click)="changeChildText()">Change ViewChild Text</button>

    <div class="button-examples">
        <button mat-button>Basic</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>

        <br>

        <button mat-raised-button>Basic</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>

    <div class="spacer"></div>

    <img #myImg *ngIf="isShow" src="https://media.istockphoto.com/id/1407655089/photo/funny-pomeranian-dog-summer-ready-for-bath-wrapped-with-a-towel-and-sunglasses-isolated-on.jpg?s=612x612&w=0&k=20&c=wCmR5IKoVVTm5NQY9UL2hBTTkU0AvlG3gnEK8AWUWr8=">

    <div class="spacer"></div>
    <div class="spacer"></div>

    <app-view-child></app-view-child>

    <div class="spacer"></div>
    <div class="spacer"></div>



</div>