<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <!-- Limit card to a max width -->
    <mat-card style="width: 100%; max-width: 400px;">
      <mat-card-title style="text-align: center;">File Upload Form</mat-card-title>
      <mat-card-content>
        <form [formGroup]="uploadForm" style="display: flex; flex-direction: column; gap: 16px;">
  
          <!-- File Input (cannot use matInput for file) -->
          <label for="fileInput">Upload a PNG</label>
          <input 
            id="fileInput" 
            type="file" 
            (change)="onFileChange($event)" 
            accept="image/png" 
          />


          <!-- new function from day 37 -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Country</mat-label>
            <mat-select [(value)]="selectedCity">
              <mat-option *ngFor="let c of citiesList$ | async" [value]="c.code">
                {{ c.city_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

  
          <!-- Text field -->
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Comments</mat-label>
            <input matInput type="text" formControlName="comments" placeholder="comments" />
          </mat-form-field>
  
          <!-- Upload button -->
          <button mat-raised-button color="primary" (click)="upload()">
            Upload
          </button>
           <app-back-button></app-back-button>
  
        </form>
      </mat-card-content>
    </mat-card>
  </div>