.inventory-item {
    border-radius: 20px;
    background-color: lightgray;
    border: 2px solid gray;
    padding: 25px;
    margin: 25px;
}

.thumbnail img {
    height: 10vh;
    padding-left: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}