<h1>Weather Information</h1>

<form [formGroup]="cityForm" (submit)="getWeatherForCity()">
    <div class="row d-flex align-items-center justify-content-start">
        <label class="col-auto form-label">City:</label>
        <div class="col-auto">
            <select  formControlName="selectedCity" class="form-select">
                <option value="" selected disabled> -- select a city -- </option>
                @for (city of citiesList; let idx = $index; track city) {
                    <option value="{{ city.name }}">{{ city.name }}</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary btn-sm" type="submit">Get</button>
        </div>
    </div>
</form>


@if (weatherData){
    <h2>Current weather information for {{selectedCity}}</h2>

    <div>
        <strong>Coordinates</strong>
        <ul>
            <li>Lon: {{ weatherData.coord.lon }}</li>
            <li>Lat: {{ weatherData.coord.lat }}</li>
        </ul>

        <strong>Weather Details</strong>
        <ul>
            <li>Description: {{ weatherData.weather[0].description | titlecase }}</li>
            <li>Main: {{ weatherData.weather[0].main }}</li>
        </ul>

        <strong>Temperature</strong>
        <ul>
            <li>Temperature: {{ weatherData.main.temp }}</li>
            <li>Min Temperature: {{ weatherData.main.temp_min }}</li>
            <li>Max Temperature: {{ weatherData.main.temp_max }}</li>
            <li>Humidity: {{ weatherData.main.humidity }}</li>
        </ul>

        <strong>Wind</strong>
        <ul>
            <li>Speed: {{ weatherData.wind.speed }}</li>
        </ul>

        <strong>Clouds</strong>
        <ul>
            <li>All: {{ weatherData.clouds.all }}</li>
        </ul>

        <strong>Sunrise & Sunset</strong>
        <ul>
            <li>Sunrise: {{ weatherData.sys.sunrise}}</li>
            <li>Sunrise: {{ weatherData.sys.sunset}}</li>
        </ul>

    </div>

} @else {
    <div>No city has been selected</div>
}