<div>
    
    <h1>File Upload</h1>

    <hr>
    <div class="spacer-sm"></div>

    <div>

        <input type="file" (change)="stageFile($event)" #fileUpload>

        <div class="spacer-sm"></div>

        <div *ngIf="selectedFile">

            <section class="file-details">
                <h3>Selected File</h3>
                <ul>
                    <li><strong>File Name: </strong>{{selectedFile?.name}}</li>
                    <li><strong>File Type: </strong>{{selectedFile?.type}}</li>
                    <li><strong>File Size: </strong>{{selectedFile?.size}}</li>
                </ul>
            </section>

            <button (click)="uploadFile()">Upload</button>
        </div>

    </div>

    <hr>

</div>
