<div class="row mt-3">
    <h1>Order Details</h1>
</div>

<div>

    <form [formGroup]="form" (submit)="handleFormSubmission()">
        <div class="row mt-2">
            <h2>Delivery Details</h2>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Name</label>
                <input formControlName="name" type="text"
                    class="form-control" [ngClass]="{'is-invalid': fieldError('name')}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Address</label>
                <input formControlName="address" type="text"
                    class="form-control" [ngClass]="{'is-invalid': fieldError('address')}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Email</label>
                <input formControlName="email" type="text"
                    class="form-control" [ngClass]="{'is-invalid': fieldError('email')}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Delivery Date</label>
                <input formControlName="deliveryDate" type="date"
                    class="form-control" [ngClass]="{'is-invalid': fieldError('deliveryDate')}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Urgent</label>
                <div class="form-check">
                    <input formControlName="urgent" type="checkbox"
                        class="form-check-input" (change)="updateUrgency($event)">
                    <label class="form-check-label text-info">
                        Check for urgent deliveries
                    </label>
                </div>
            </div>
        </div>

        @if (showDeliveryTime) {
            <div class="row mb-3">
                <div class="col">
                    <label>Delivery Time</label>
                    <div class="col d-flex gap-3">
                        <div class="form-check">
                            <input formControlName="am" type="checkbox"
                                class="form-check-input">
                            <label class="form-check-label">0900 - 1200</label>
                        </div>
                        <div class="form-check">
                            <input formControlName="pm" type="checkbox"
                                class="form-check-input">
                            <label class="form-check-label">1200 - 1600</label>
                        </div>
                        <div class="form-check">
                            <input formControlName="ev" type="checkbox"
                                class="form-check-input">
                            <label class="form-check-label">1600 - 2000</label>
                        </div>
                    </div>
                </div>
            </div>
        }


        <div class="row mt-2">
            <h2>Line Items</h2>
        </div>

        @if (lineItems.controls.length > 0) {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody formArrayName="lineItems">
                    @for (item of lineItems.controls; let idx = $index; track item) {
                        <tr [formGroupName]="idx">
                            <td>{{idx + 1}}</td>
                            <td>
                                <input formControlName="item" type="text"
                                    class="form-control">
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-text">$</div>
                                    <input formControlName="unitPrice" type="number"
                                        class="form-control">
                                </div>
                            </td>
                            <td>
                                <input formControlName="quantity" type="number"
                                    class="form-control">
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeLineItem(idx)">X</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        } @else {
            <div class="row mb-3">
                <p>Add items before submitting order</p>
            </div>
        }



        <div class="row mb-3">
            <div class="col d-flex gap-3">
                <button type="submit" class="btn btn-primary">Submit Order</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="addLineItem()">Add Item</button>
            </div>
        </div>
    </form>
</div>

values: {{ form.value | json }}
